body{
    background-color:#bd8a3f ;
    font-family: 'Barlow Condensed', sans-serif;
}
.header_div{
background-color: navy;
color: rgb(164, 159, 226);
}
.header_div p{
    font-family: 'Barlow Condensed', sans-serif;
    letter-spacing: 2px;
    color: ghostwhite;
    font-weight: bold;
    font-size: 15px;
}
.main_div button{
    font-family: 'Barlow Condensed', sans-serif;
    margin-top: 35px;
     width: 130px;
     font-weight: bolder;
     letter-spacing: 3px;
}
.copy{
    font-family: 'Barlow Condensed', sans-serif;
    position: fixed;
    color: rgb(252, 252, 252);
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(104, 151, 153);
    font-size: 30px;
    line-height: 3;
    text-shadow: 5px 5px 5px rgb(rgb(0, 255, 13), rgb(13, 2, 173), rgb(255, 0, 242)) ;
}